.container-canvas {
    margin-right: auto ;
    margin-left: auto;
    text-align: center;
    width:100%;
}

.center{
    float:none;
    margin-right: auto ;
    margin-left: auto;
}

h1 {
    text-align: center;
}

.product_container {
    border: 1px solid black;
    overflow: auto;
}
